#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #4d5d3b;
}

/* INPUT FIELD */
.input-container {
  background-color: #4d5d3b;
  width: 400px;
}

.input-field {
  padding:0.5em;
  background-color:#6f7766;
  max-width: 400px;
  border-radius: 1rem;
}

.input-field:focus {
  outline: none;
  border: none;
}

.input-button {
  border-radius: 1rem;
  background-color: white;
  color: black;
  padding: 0%;
  height: 40px;
  width: 40px;
  transition: 0.3s;
}

.input-button:hover {
  background-color: #6d9ac7;
  color: white;
  border-color: #1269cc;
}