#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #4d5d3b;
}

/* CHAT FIELD */
.chat-container {
  background-color: #6f7766;
  border-radius: 1rem;
  width: 1000px;
  height: 700px;
  margin: 20px 0;
  padding: 10px;
}

/* INPUT FIELD */
.input-container {
  justify-content: center;
  background-color: #4d5d3b;
  width: 1000px;
}

.input-field {
  padding: 0.5rem 0;
  width: 80%;
  background-color:#6f7766;
  border-radius: 1rem;
  transition: 1s;
  float: left;
}

.input-field:focus {
  outline: none;
  border: none;
}

.input-button {
  border-radius: 1rem;
  background-color: white;
  border: none;
  color: black;
  padding: 0%;
  height: 40px;
  width: 15%;
  transition: 0.3s;
  float: right;
}

.input-button:hover {
  background-color: #6d9ac7;
  color: white;
}

.input-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.input-button[disabled]:hover {
  background-color: pink;
  color: black;
}