.message-bubble {
    border-radius: 1rem;
    width: fit-content;
    max-width: 600px;
    overflow-wrap: anywhere;
    padding: 10px;
    margin: 0%;
    margin-bottom: 5px;
}

#user-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}

#user-message {
    background-color: #4d5d3b;
}

#ai-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    animation: fade-in 0.5s ease-in forwards;
}

#ai-message {
    background-color: black;
}

#error-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    animation: fade-in 0.5s ease-in forwards;
}

#error-message {
    background-color: #ff4d4d;
}

@keyframes fade-in {
    from {
        position: relative;
        top: 5px;
        opacity: 0%;
    }
    to {
        position: relative;
        top: 0;
        opacity: 100%;
    }
}