.message-bubble {
    border-radius: 1rem;
    width: fit-content;
    max-width: 400px;
    overflow-wrap: anywhere;
    padding: 10px;
    margin: 0%;
    margin-bottom: 5px;
}

#user-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}

#ai-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
}

#user-message {
    background-color: #4d5d3b;
}

#ai-message {
    background-color: black;
}