.message-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    /* background-color: black; */
}

.message-bubble {
    background-color: #4d5d3b;
    border-radius: 1rem;
    width: fit-content;
    padding: 10px;
    margin: 0%;
    margin-bottom: 5px;
}